{{!-- header --}}
{{> headerDark}}
{{!-- main section --}}
<main class="hero">
  {{#with hero}}
  <h1 class="hero_title">{{title}}</h1>
  <p class="hero_description">{{description}}</p>
  {{#with button}}
  <button href="{{url}}" class="hero_button">{{text}}</button>
  {{/with}}
  {{/with}}
</main>
{{!-- about section --}}
<section class="about">
  {{#with about}}
  <strong class="about_title">{{heading}}</strong>
  <p class="about_info">{{info}}</p>
  {{/with}}
</section>
{{!-- article section --}}
<section class="articles">
  <h2 class="articles_title">Our Articles</h2>
  <div class="articles_wrapper">
    {{> articleCardDark}}
  </div>
</section>
{{!-- footer --}}
{{> footerDark}}